post-messages: "\
You should register the \"ocaml\" package in your Python environment.
There are two options:

  (1) either you  register the package with \"pip\" using the following
      command:
        pip install --editable \"%{lib}%/ocaml-in-python\"

  (2) or you add the following definition to your environment:
        export PYTHONPATH=\"%{share}%/python/:$PYTHONPATH\"
" {success}